html, body { 
    height: 100%; 
} 

#header{
    height: 100px;
}

#contenido{
    min-height: 100%; 
    height: auto !important;
    height: 100%; 
    margin: 0 auto -100px;
    vertical-align:bottom;
}

#footer, #push{
    height: 100px;
}