@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #dcdcdc;
    background-image: url(../../assets/fondo.svg);
    background-repeat: no-repeat;
    background-position-y: 1em;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    overflow: hidden;
}

input {
    border-radius: 10px;
    padding: 0.2em 0.5em;
}

input::placeholder {
    padding-left: 5px;
}

.logintot {
    background-color: white;
    border-radius: 10px;
    margin: 25px auto;
    border: 1px solid #ccc;
    width: 300px;
    height: 400px;
    box-shadow: 7px 7px 15px #592A08;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-change {
    border: none;
    background: #FF6720;
    color: white;
    border-radius: 10px;

    width: fit-content;

    padding: 0.5em;
    font-size: 1em;

    align-self: center;

    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button-change:hover {
    background: #ff9e71;
}